{#
extends: base.yaml

peerstore:
  redis:
    addr: 127.0.0.1:14001

origin:
  hosts:
    static:
      - host.docker.internal:15002

trackerserver:
  announce_interval: 3s

nginx:
  cache_dir: /tmp/kraken-tracker-nginx/

tls:
  name: kraken
  cas:
  - path: /etc/kraken/tls/ca/server.crt
  server:
    cert:
      path: /etc/kraken/tls/ca/server.crt
    key:
      path: /etc/kraken/tls/ca/server.key
    passphrase:
      path: /etc/kraken/tls/ca/passphrase
  client:
    cert:
      path: /etc/kraken/tls/client/client.crt
    key:
      path: /etc/kraken/tls/client/client.key
    passphrase:
      path: /etc/kraken/tls/client/passphrase

#}

extends: kraken-tracker_base.yaml

peerstore:
  redis:
    addr: 127.0.0.1:{{ kraken_redis_port }}

origin:
  hosts:
    static:
{% for herd_host in kraken_herd_hosts %}
      - {{ herd_host }}:{{ kraken_origin_server_port }}
{% endfor %}

trackerserver:
  announce_interval: 3s

tls:
  name: kraken
  cas:
  - path: {{ kraken_config_dir }}/tls-tracker/server.crt
  server:
    disabled: false
    cert:
      path: {{ kraken_config_dir }}/tls-tracker/server.crt
    key:
      path: {{ kraken_config_dir }}/tls-tracker/server.key
    passphrase:
      path: {{ kraken_config_dir }}/tls-tracker/server.passphrase
  client:
    cert:
      path: {{ kraken_config_dir }}/tls-tracker/client.crt
    key:
      path: {{ kraken_config_dir }}/tls-tracker/client.key
    passphrase:
      path: {{ kraken_config_dir }}/tls-tracker/client.passphrase
