localdb:
  source: {{ kraken_cache_dir }}/kraken-build-index/index.db

store:
  upload_dir: {{ kraken_cache_dir }}/kraken-build-index/upload/
  cache_dir: {{ kraken_cache_dir }}/kraken-build-index/cache/

tag_store:
  write_through: true

zap:
  level: info
  development: false
  encoding: console
  disableStacktrace: true
  encoderConfig:
    messageKey: message
    nameKey: logger_name
    levelKey: level
    timeKey: ts
    callerKey: caller
    stacktraceKey: stack
    levelEncoder: capital
    timeEncoder: iso8601
    durationEncoder: seconds
    callerEncoder: short
  outputPaths:
    - {{ kraken_log_dir }}/kraken-build-index.log
  errorOutputPaths:
    - {{ kraken_log_dir }}/kraken-build-index.log

metrics:
  m3:
    service: kraken-build-index

tagserver:
  listener:
    net: unix
    addr: {{ kraken_build_index_socket }}

nginx:
  name: kraken-build-index
  cache_dir: {{ kraken_cache_dir }}/kraken-build-index/nginx
  log_dir: {{ kraken_log_dir }}
