[Unit]
Description={{ service }}
After=network.target

[Service]
Type=exec
Restart=always
StartLimitInterval=0
RestartSec=15
TimeoutStartSec=120
TimeoutStopSec=15
PermissionsStartOnly=true
User={{ user }}
Group={{ group }}
ExecStartPre=/usr/bin/mkdir -p {{ kraken_agent_socket_dir }} {{ kraken_agent_nginx_folders | join(' ') }} ; /usr/bin/chown -R {{ user }}:{{ group }} {{ kraken_agent_socket_dir }} {{ kraken_agent_nginx_folders | join(' ') }}
ExecStart={{ kraken_agent_binary }} \
          --config={{ kraken_config_dir }}/kraken-agent.yaml \
{% for herd_host in kraken_herd_hosts %}
          --peer-ip={{ herd_host }} \
{% endfor %}
          --peer-port={{ kraken_agent_peer_port }} \
          --agent-server-port={{ kraken_agent_server_port }} \
          --agent-registry-port={{ kraken_agent_registry_port }}
ExecStartPost=/usr/bin/sleep 1 ; /bin/kill -0 $MAINPID

[Install]
WantedBy=multi-user.target