extends: tracker_base.yaml

peerstore:
  redis:
    addr: 127.0.0.1:{{ redis_port }}

origin:
  hosts:
    static:
{% for herd_host in herd_hosts %}
      - {{ herd_host }}:{{ origin_server_port }}
{% endfor %}

trackerserver:
  announce_interval: 3s

nginx:
  cache_dir: {{ kraken_cache_dir }}/tracker

tls:
  name: kraken
  cas:
  - path: /etc/kraken/tls/ca/ca.crt
  server:
    disabled: false
    cert:
      path: /etc/kraken/tls/ca/server.crt
    key:
      path: /etc/kraken/tls/ca/server.key
    passphrase:
      path: /etc/kraken/tls/ca/passphrase
  client:
    cert:
      path: /etc/kraken/tls/client/client.crt
    key:
      path: /etc/kraken/tls/client/client.key
    passphrase:
      path: /etc/kraken/tls/client/passphrase

{# extends: kraken-tracker_base.yaml

peerstore:
  redis:
    addr: 127.0.0.1:{{ redis_port }}

origin:
  hosts:
    static:
{% for herd_host in herd_hosts %}
      - {{ herd_host }}:{{ origin_server_port }}
{% endfor %}

trackerserver:
  announce_interval: 3s

nginx:
  cache_dir: {{ kraken_cache_dir }}/kraken-tracker

tls:
  name: kraken
  cas:
  - path: {{ kraken_config_dir }}/tls-tracker/server.crt
  server:
    disabled: false
    cert:
      path: {{ kraken_config_dir }}/tls-tracker/server.crt
    key:
      path: {{ kraken_config_dir }}/tls-tracker/server.key
{% if tls_certificates.kraken_tracker.server_passphrase is defined %}
    passphrase:
      path: {{ kraken_config_dir }}/tls-tracker/server.passphrase
{% endif %}
  client:
    cert:
      path: {{ kraken_config_dir }}/tls-tracker/client.crt
    key:
      path: {{ kraken_config_dir }}/tls-tracker/client.key
{% if tls_certificates.kraken_tracker.client_passphrase is defined %}
    passphrase:
      path: {{ kraken_config_dir }}/tls-tracker/client.passphrase
{% endif %}
 #}
