[Unit]
Description=kraken-origin
After=network.target

[Service]
Type=exec
Restart=always

StartLimitInterval=0
RestartSec=15
TimeoutStartSec=120
TimeoutStopSec=15

User={{ user }}
Group={{ group }}

ExecStart={{ kraken_binary_dir }}/kraken-origin \
          --config={{ kraken_config_dir }}/origin.yaml \
          --blobserver-hostname={{ ansible_fqdn }} \
          --blobserver-port={{ origin_server_port }} \
{% for herd_host in herd_hosts %}
          --peer-ip={{ herd_host }} \
{% endfor %}
          --peer-port={{ origin_peer_port }}

ExecStartPost=/usr/bin/sleep 1
ExecStartPost=/bin/kill -0 $MAINPID

[Install]
WantedBy=multi-user.target